*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
    .screenPage{
        max-width: 1300px;
        margin: auto;
        padding: 0px 50px 0px 50px;
    }
    .backPage {
        background-image: url(../IMG/newyork.jpg);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -3;
        height: 680px;
    }
    .backPage::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #28303c;
        opacity: .7;
        z-index: -4;
    }

    .netOne {
        padding: 0px 0px 50px 0px;
        color: #fff;
        z-index: 100;
        height: 730px;
    }
    .cap {
        width: 1200px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;

    }
    .logoVis {
        fill: #000000;
    }

    .logoVis:hover {
        fill: #00000077;
    }

    .dataOne {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 46px;
        width: 900px;
    }

    .btnGroup {
        text-decoration: none;
        display: inline-block;
        padding: 10px 30px;
        margin: 10px 0px;
        position: relative;
        color: white;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 40px;
        background: none;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 10px;
        overflow: hidden;
    }

    .btn:before,
    .btn:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        box-sizing: border-box;
    }

    .btn:hover:before,
    .btn:hover:after {
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    .btn:hover:before {
        transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
    }

    .btn:hover:after {
        transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
    }

    .btn:hover {
        background: rgba(255, 255, 255, .2);
        color: #000000;
    }

    .crumbs {
        display: flex;
        height: 80px;
        align-items: center;
        word-spacing: 20px;
        font-size: 14.5px;
    }

    .netOne a {
        text-decoration: none;
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    #realEstate {
        display: flex;
        justify-content: end;
        height: 200px;
        align-items: center;
        font-size: 35px;
    }

    .exclusive {
        display: flex;
        justify-items: center;
        align-items: center;
        font-size: 20px;
    }
    .baton {
        display: flex;
        height: 220px;
        justify-content: center;
        align-items: center;
    }

    .lineTwo {
        margin-right: 5px;
        width: 380px;
        content: "";
        display: block;
        height: 1px;
        background: white;

    }

    .btnPair {
        display: flex;
        height: 55px;
        width: 400px;
        justify-content: space-between;
    }

    .containerTwo {
        position: absolute;
        top: 680px;
        right: 0;
        left: 0;
    }

    .netTwo {
        padding: 50px 0px 50px 0px;
    }
    .capTwo {
        font-size: 30px;
        height: 150px;
        display: flex;
        align-items: flex-end;
    }
    .capOptions {
        display: flex;
        align-items: center;
        height: 100px;
        font-size: 15px;
        color: #A4ADC4D3;
    }

    .options {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -7.5px;
    }

    .realtGroup {
        padding: 0 7.5px;
        padding-bottom: 10px;
        width: 303px;
        height: 250px;

    }

    .realtyFace {
        height: 100%;
        position: relative;
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    .netTwo a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .netTwo a:hover {
        color: #D0D0D0FF;
    }

    .realtyItemContent {
        width: 100%;
        padding: 18px 34px;
    }

    .realtyItemPrice {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    .realtyItemIcon {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .realtyItemIcon::before {
        content: "";
        display: block;
        background-color: #fff;
        height: 1px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 40px;
    }

    .realtyItemIcon-curcle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .realtyItemTitle {
        line-height: 1.2;
    }

    .imgItem img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -3;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .imgItem::before {
        content: "";
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, .9) 100%);
    }

    .modalGroup{
        padding: 30px;
        background: #fff;
        z-index: 99999;
        opacity: 1;
        border-radius:0%;
}
    .modalClose{
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
    }
    .modal p::before{
        margin-left: 150px;
        margin-bottom: 20px;
        content: "";
        display: block;
        height: 1px;
        background: black;
    }
    .modal p{
        color:#A4ADC4D3;
    }
    .modalForms{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;     
    }
    .formsGroup{
        border: 1px solid #A4ADC4D3;
        border-radius: 50px;
        padding: 10px 30px 10px 10px;
        width: 210px;
    }
    .formNameIcon{
        background-image: url(../IMG/nameINPUT.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
        background-position-x: 180px;
    }
    .formPhoneIcon{
        background-image: url(../IMG/phoneINPUT.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
        background-position-x: 180px;
    }
    .modalForms label{
        display: none;
    }
    .modalBtnCheck{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }
    a.btnModal{
        padding: 15px 25px 15px 25px;
        color: black;
        border-color: black;
    }
    a.btnModal:hover{
        background: #00000094;
        color: white;
        fill: white;

        opacity: .6;
    }
    .txtCheck{
        font-size: 10px;
        padding-left: 5px;
        width: 270px;
    }
    .chekboxModalRealty{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
    }
    .buyPropertyHead h1{
        padding: 100px 0px 40px 400px;
        margin-bottom: 0px;
    }
    .buyProperty{
        display: flex;
        padding-bottom: 50px;
    }
    .buyProperty span {
        background: black;
        margin-right: 40px;
        margin-top: 12px;
        width: 1000px;
    }
    .rltFix {
        width: 405px;
        height: 500px;
    }
    .netThree {
        padding: 50px 0px 50px 0px;
    }
    .capThree h1{
        margin-bottom: 0px;
        padding-bottom: 100px;      
    }
    /* .capThree::before{
        margin-top: 100px;
        margin-left: 300px;
        content: "";
        width: 900px;
        display: block;
        height: 1px;
        background: black;
        position: absolute;
    } */
    .solutionGroup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .solutionGroup p{
        color:#A4ADC4D3;
        font-size: 15px;
        width: 250px;
        height: 100px;
    }
    .solution{
        display: flex;
        flex-flow: column;
    }
    .solution svg {
        margin-bottom: .5em;
        margin-left: -10px;
    }
    .developers{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 50px 0px;
    }
    .developersImg {
        margin-left: -370px;
    }
    .developersImg img {
        width: 600px;
        height: 650px;
        border: 1px solid none;
        border-top-right-radius: 100px;
        object-fit: cover;
    }
    .developersSlider {
        width: 100%;
        padding-left: 3%;
    }
    .developersSlider h1{
        margin-bottom: 58px;
    }
    .slider{
        display: flex;
        width: 100%;
        height: 446px;
    }
    button.carousel-control-prev.btnSliderGroup, button.carousel-control-next.btnSliderGroup {
        position: static;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        color: black;
        opacity: .7;
    }
    button.carousel-control-prev.btnSliderGroup:hover, button.carousel-control-next.btnSliderGroup:hover{
        opacity: .4;
    }
    button.carousel-control-prev.btnSliderGroup {
        margin-right: 10px;
    }
    span.carousel-control-prev-icon{
        margin-right: 2px;
        background-image: url(../IMG/left-arrow.png);
        background-size: 20px;
    }
    span.carousel-control-next-icon{
        margin-left: 3px;
        background-image: url(../IMG/right-arrow.png);
        background-size: 20px;
    }
    .group{
        display: flex;
    }
    .makProperties{
        display: flex;
    }
    .makProperties img {
        border: none;
        object-fit: cover;
        margin-top: 30%;
    }
    .makProperties p{
        padding: 10px;
    }
    .objects {
        font-size: 20px;
        border: 1px solid #00000074;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
    }
    .quality{
        padding: 50px 0px 50px 0px;
    }
    .quality h1{
        padding-bottom: 20px;
    }
    .qualityContent{
        display: flex;
        justify-content: space-between;
    }
    .qualityContentBack {
        margin-left: -370px;
    }
    .qualityContentBack img {
        width: 600px;
        height: 650px;
        border: 1px solid none;
        border-top-right-radius: 100px;
        object-fit: cover;
    }
    .qualityCircle{
        border: 1px solid black;
        border-radius: 50%;
        display: block;
        width: 20px;
        height: 20px;
    }
    .qualityVertLine::before{
        content: " ";
        background: black;
        margin: 10px 0px 10px 9px;
        width: 2px;
        height: 100px;
        float: left;
    }
    .qualityContentTxt {
        padding-top: 56px;
        padding-left: 2%;
        width: 100%;
    }
    .qualityContentTxt p{
        margin-bottom: 10px;
    }
    .qualitySorter{
        display: flex;
    }
    .qualityRight {
        margin-right: 10px;
    }
    .application{
        padding: 50px 0px 0px 0px;
    }
    .applicationBack {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../IMG/applicationBack.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid none;
        border-top-left-radius: 100px;
        z-index: -3;
        width: 1200px;
        height: 600px;
    }
    .applicationContent{
        display: flex;
        flex-flow: column;
        width: 700px;
        color: white;
    }
    .applicationLineTxt {
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .applicationLineTxt p {
        margin-bottom: 0px;
    }
    .applicationLineTxt span{
        margin-right: 40px;
        margin-left: -280px;
        width: 580px;
    }
    .applicationBtnCheck {
        display: flex;
        height: 45px;
        justify-content: space-between;
        align-items: center;
        width: 780px;
    }
    .applicationBtnCheck input {
        background-color: #FFFFFF00;
        color: white;
    }
    .btnApplication{
        font-size: 13px;
        padding: 15px 17px 12px 17px;
    }
    .application .formPhoneIcon{
        background-image: url(../IMG/phoneINPUTWhite.png);
    }
    .btnApplication:hover{
        color: #757575FF;
    }
    .application ::-webkit-input-placeholder {
        color: white;
    }
    .accordion{
        --bs-accordion-btn-focus-border-color: #86b7fe;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
    .netFour{
        padding: 150px 0px 20px 0px;
    }
    
    .capFoot{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .contactsIcons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 180px;
    }
    .iconRadBorder{
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
        overflow: visible;
    }
    .contactVibTelIns:hover{
        opacity: .6;
    }
    .txtEditorTwo{
        color:#38383BFF
    }
    .txtEditorTwo:hover{
        opacity: .6;
    }
    .checkBoxGroup, .checkBoxModal{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
    .modal .checkBoxModal:checked{
        background-image: url(../IMG/cheked.png);
    }
    .checkBoxGroup:checked, .checkBoxModal:checked{
        background-image: url(../IMG/chekedWhite.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: visible;
        width: 20px;
        height: 20px;
    }
    .dataFoot{
        display: flex;
    }
    .dataFoot p{
        color: #A4ADC4D3;
    }
    .dataFoot a{
        text-decoration: none;
        color: #38383BFF;
    }
    .dataFoot a:hover{
        opacity: .6;
    }
    .callsFoot {
        width: 500px;
    }
    .locationFoot{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .locationFootInfo h6{
        padding: 70px 0px 60px 0px;
    }
    .importantInfo{
        display: flex;
        align-items: center;
        color: #CECFDAFF;
        font-size: 10px;
        
    }
    .importantInfo p{
        margin-bottom: 0;
    }
    .importantInfo a{
        color: #CECFDAFF;
        text-decoration: none;
    }
    .importantInfo a:hover{
        opacity: .7;
    }

    .scrollup{
        width: 100px;
        height: 100px;
        position: fixed;
        bottom: 50px;
        right: 70px;
        display: none;
        text-indent: -9999px;
        background: url(../IMG/upperIcon.png) no-repeat;
        background-position-x: 13px;
        background-position-y: 11px;
        
    }
    .scrollup:hover{
        opacity: .6;
        
    }
    .hamburger-menu{
        display: none;
    }
    .contactsMacro {
        display: none;
    }
    .modalBtnSize {
        width: 100%;    
        position: relative; 
        overflow-x: hidden; 
    }
    .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(-45deg); 
        animation: flareAnimation;
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 3s infinite linear;
    }

    .modalsTwo .modal {
        --bs-modal-width: 1000px;
    }
    .modalsTwo .modal-content {
        height: 600px;
        justify-content: center;
        align-items: center;
    }
    .modalGroupTwo {
        width: 500px;
        display: flex;
        flex-flow: column;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
    .formModalTwo{
        padding: 50px;
    }
    .modalFormsTwo{
        display: flex;
        flex-flow: column;
    }
    .modalBtnCheckTwo{
        display: flex;
        flex-flow: column;
    }
    .inTxt{
        padding-top: 13px;
        font-size: 10px;
        color: #4C4C4CFF;
    }
    .formsGroupTwo {
        border: 1px solid #A4ADC4D3;
        border-radius: 5px;
        padding: 10px 10px 10px 50px;
        width: 100%;
    }
    .formNameIconTwo{
        background-image: url(../IMG/nameINPUT.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
        background-position-x: 14px;
    }
    .formPhoneIconTwo{
        background-image: url(../IMG/phoneINPUT.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
        background-position-x: 14px;
    }
    .chekboxModalRealtyTwo {
            display: flex;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;      
    }
    .checkWth {
        width: 20px;
    }
    .modalsTwo .txtCheck {
        width: 100%;
    }
    #svgGet{
        margin-bottom: 2px;
    }
    .btnMega{
        width: 100%;
        text-decoration: none;
        display: inline-block;
        margin: 10px 0px;
        position: relative;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 40px;
        background: none;
        font-weight: 600;
        text-transform: inherit;
        text-align: center;
        letter-spacing: 2px;
        font-size: 14px;
        overflow: hidden;
    }
    .capPolicy{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 460px;
    }
    .contentPolicy {
        padding: 50px 0px 50px 0px;
    }
    .capPolicy div {
        padding-bottom: 50px;
        color: #89918CFF;
    }
    .capPolicy h1 {
        font-size: 60px;    
    }
    .contentPolicy{
        color: #A4A4A4FF;
    }
    .contentPolicy p{
        opacity: .8;
    }
    .map a{
        text-decoration: none;
    }
    .contentThanks{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 460px;
    }
    .contentThanks h1 {
        font-size: 50px;    
    }
    #thanksNav {
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
        padding-left: 30%;
    }
    #thanksNav span{
        padding-bottom: 50px;
        color: #89918CFF;
    }
    #thanksLine{
        display: flex;
        align-items: center;
    }
    #thanksLine p{
        margin-bottom: 0px;
    }
    #btnThanks{
        padding-top: 70px;
    }

    @keyframes flareAnimation {
        0% {
            left: -150%;
        }
        100% {
            left: 150%;
        }
    }
    
@media (max-width: 1300px) {
    .screenPage{
        max-width: 1000px;
        margin: auto;
        padding: 0px 50px 0px 50px;
    }
    .cap{
        width: auto;
    }
    .dataOne{
        width: 700px;
        font-size: 80%;
    }
    .rltFix {
        width: 49%;
    }
    .developersSlider {
        padding-left: 0%;
        padding-top: 50px;
    }
    .solutionGroup {
        justify-content: space-around;
    }
    .developers {
        flex-flow: wrap;
        justify-content: center
    }

    .developersImg img {
        width: 100%;
    }
    .applicationBack {
        width: 100%;
    }
    .capFoot h1{
        font-size: 35px;
    }
    .importantInfo {
        font-size: 9px;
    }
}

@media (max-width: 997px) {
    .screenPage {
        max-width: 700px;
        margin: auto;
        padding: 0px 50px 0px 50px;
    }
    .contacts {
        display: none;
    }
    .contactsMacro{
        display: flex;
    }
    .cap {
        justify-content: space-between;
    }
      
    .container {
      max-width: 1050px;
      width: 90%;
      margin: auto;
    }
    .crumbs{
        display: none;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .menuAdapt{
        display: flex;
    }
    #menu__toggle {
        opacity: 0;
        margin-left: 15px;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: relative;
        right: 23px;
        width: 26px;
        cursor: pointer;
        z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    .menu__box {
        display: block;
        position: absolute;
        top: 140px;
        left: -110%;
        width: 440px;
        height: 400px;
        margin: 0;
        padding: 50px 80px 50px 80px;
        list-style: none;
        background-color: #1F1F1FF0;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        transition-duration: .25s;
        text-align: center;
        line-height: 2;
        z-index: 10;
    }
    .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu__item:hover {
    background-color: #CFD8DC;
    }
    .hamburger-menu {
        display: block;
        height: 30px;
    }
    .contactVibTelIns a{
        margin-right: 0px !important;
    }
    #realEstate{
        display: flex;
        justify-content: center;
    }
    .makProperties {
        flex-wrap: wrap;
        justify-content: center;
    }
    .makProperties img {
        margin-top: 0%;
        margin-bottom: 20%;
    }
    .slider {
        height: 560px;
    }
    .qualityContent {
        flex-flow: wrap;
        justify-content: space-between;
    }
    .qualityContentBack img {
        width: 100%;
    }
    .buyPropertyHead h1 {
        padding-left: 0px;
    }
    .applicationContent {
        width: 450px;
    }
    .applicationBack {
        width: 100%;
    }
    .applicationBtnCheck {
        flex-flow: wrap;
        justify-content: none; 
        height: 100%; 
        width: 100%;
    }
    .btnApplication {
        margin-left: 10px;
    }
    .objects {
        font-size: 16px;
    }
    .capFoot {
        flex-flow: column;
        text-align: center;
        align-items: center;
    }
    .dataFoot {
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    .importantInfo {
        flex-flow: wrap;
        justify-content: center;
    }
    .callsFoot {
        width: 100%;
    }
    .capPolicy h1 {
        font-size: 38px;  
    }
}
@media (max-width: 760px){
    .realtGroup{
        width: 49%;
        padding: 0px 0px 15px 0px;
    }
    .rltFix {
        width: 100%;
    }
    .options {
        margin: 0;
    }
}
@media (max-width: 680px){
    .slider {
        height: 660px;
    }
}
@media (max-width: 570px) {
    .screenPage {
        width: auto;
        margin: auto;
        padding: 0px 10px 0px 10px;
    }
    .modalGroupTwo {
        width: 100%;
        box-shadow: none; 
    }
    #thanksLine .lineTwo {
        display: none;
    }
}
@media (max-width: 500px){
    .applicationContent {
        width: 400px;
    }
    .btnApplication {
        margin-left: 0px;
    }
    .txtCheck {
        font-size: 7px;
    }
    .chekboxModalRealty {
        width: 630px;    
    }
    .capPolicy h1 {
        font-size: 24px;
    }
}
@media (max-width: 460px) {
    .menu__box{
        left: -450%;
    }
    .realtGroup{
        width: 100%;
    }
    .contactsMacro {
        display: none;
    }
    .btnPair {
        flex-flow: wrap;
        height: auto;
        width: 100%;
        justify-content: center;
    }
    .slider {
        height: 800px;
    }
    .objects {
        font-size: 12px;
    }
    .applicationContent {
        width: 260px;
    }
    .applicationLineTxt span {
        display: none;
    }
    .dataFoot h1 {
        font-size: 20px;
    }
    .modalForms {
        flex-flow: wrap;
        justify-content: start;
    }
    .modalBtnCheck {
        flex-flow: wrap;
        align-items: center;
        justify-content: start;
        height: auto;
    }
    .chekboxModalRealty {
        width: auto;
    }
    .menu__box {
        width: 320px;
        padding: 50px;
    }
    .formModalTwo {
        font-size: 15px;
        padding: 20px;
    }
    #thanksNav {
        padding-left: 0px;
    }

}
@media (max-width: 360px){
    .slider {
        height: 900px;
    }
    .objects {
        font-size: 10px;
    }
    .importantInfo {
        font-size: 8px;
    }
}
@media (max-width: 320px) {
    .screenPage, .backPage {
        width: 320px;
    }
    .applicationContent {
        width: 235px;
    }
    .modalsTwo .modal-content {
        height: 460px;
    }
}  