*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
    .screenPage{
        max-width: 1300px;
        margin: auto;
        padding: 0px 50px 0px 50px;
    }
    .backPage {
        background-image: url(../IMG/newyork.jpg);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -3;
        height: 680px;
    }
    .backPage::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #28303c;
        opacity: .7;
        z-index: -4;
    }

    .netOne {
        padding: 0px 0px 50px 0px;
        color: #fff;
        z-index: 100;
    }
    .cap {
        width: 1200px;
        font-size: 15px;
        display: flex;
        justify-content: space-between;

    }
    /* .cap::before {
        margin-left: 400px;
        width: 800px;
        margin-top: 150px;
        content: "";
        display: block;
        height: 1px;
        background: white;
        position: absolute;

    } */
    .backCapFixed{
        display: none;
        position: fixed;
        background-color: white;
        height: 150px;
        width: 100%;
        z-index: 100000;
    }
    .capFixed{
        margin: auto;
        padding: 0px 50px 0px 50px;
        width: 1300px;
    }
    .capFixedContainer{
        font-size: 15px;
        display: flex;
        justify-content: space-between;
    }
    .capFixedContainer a {
        color: black;
        text-decoration: none;
    }
    .capFixedContainer a:hover {
        opacity: .7;
    }
    .capFixedContainer .btnGroup {
        border: 1px solid;
    }
    .logoVis {
        fill: #000000;
    }

    .logoVis:hover {
        fill: #00000077;
    }

    .dataOne {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 46px;
        width: 900px;
    }

    .btnGroup {
        text-decoration: none;
        display: inline-block;
        padding: 10px 30px;
        margin: 10px 0px;
        position: relative;
        color: white;
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 40px;
        background: none;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 10px;
        overflow: hidden;
    }

    .btn:before,
    .btn:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        box-sizing: border-box;
    }

    .btn:hover:before,
    .btn:hover:after {
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    .btn:hover:before {
        transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
    }

    .btn:hover:after {
        transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
    }

    .btn:hover {
        background: rgba(255, 255, 255, .2);
        color: #000000;
    }

    .crumbs {
        display: flex;
        height: 80px;
        align-items: center;
        word-spacing: 20px;
        font-size: 14.5px;
    }

    .netOne a {
        text-decoration: none;
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    a:hover {
        text-decoration: none;
        color: black;
    }

    #realEstate {
        display: flex;
        justify-content: end;
        height: 200px;
        align-items: center;
        font-size: 35px;
    }

    .exclusive {
        display: flex;
        justify-items: center;
        align-items: center;
        font-size: 20px;
    }
    .baton {
        display: flex;
        height: 220px;
        justify-content: center;
        align-items: center;
    }

    .lineTwo {
        margin-right: 5px;
        width: 380px;
        content: "";
        display: block;
        height: 1px;
        background: white;

    }

    .btnPair {
        display: flex;
        height: 55px;
        width: 400px;
        justify-content: space-between;
    }

    .containerTwo {
        position: absolute;
        top: 680px;
        right: 0;
        left: 0;
    }

    .netTwo {
        padding: 50px 0px 50px 0px;
    }
    .capTwo {
        font-size: 30px;
        height: 150px;
        display: flex;
        align-items: flex-end;
    }
    /* .capTwo::before{
        margin-bottom: -15px;
        margin-left: 300px;
        content: "";
        width: 900px;
        display: block;
        height: 1px;
        background: black;
        position: absolute;
    } */
    .capOptions {
        display: flex;
        align-items: center;
        height: 100px;
        font-size: 15px;
        color: #A4ADC4D3;
    }

    .options {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -7.5px;
    }

    .realtGroup {
        padding: 0 7.5px;
        padding-bottom: 10px;
        width: 303px;
        height: 250px;

    }

    .realtyFace {
        height: 100%;
        position: relative;
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

    }

    .netTwo a {
        background-color: transparent;
        text-decoration: none;
        color: white;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .netTwo a:hover {
        color: #D0D0D0FF;
    }

    .realtyItemContent {
        width: 100%;
        padding: 18px 34px;
    }

    .realtyItemPrice {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
    }

    .realtyItemIcon {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .realtyItemIcon::before {
        content: "";
        display: block;
        background-color: #fff;
        height: 1px;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-right: 40px;
    }

    .realtyItemIcon-curcle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .realtyItemTitle {
        line-height: 1.2;
    }

    .imgItem img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -3;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .imgItem::before {
        content: "";
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(180deg, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, .9) 100%);
    }

    .modalGroup{
        padding: 30px;
        background: #fff;
        z-index: 99999;
        opacity: 1;
        border-radius:0%;
}
    .modalClose{
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
    }
    .modal p::before{
        margin-left: 150px;
        margin-bottom: 20px;
        content: "";
        display: block;
        height: 1px;
        background: black;
    }
    .modal p{
        color:#A4ADC4D3;
    }
    .modalForms{
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;     
    }
    .formsGroup{
        border: 1px solid #A4ADC4D3;
        border-radius: 50px;
        padding: 10px 30px 10px 10px;
        width: 210px;
    }
    .formNameIcon{
        background-image: url(../IMG/nameINPUT.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
        background-position-x: 180px;
    }
    .formPhoneIcon{
        background-image: url(../IMG/phoneINPUT.png);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position-y: center;
        background-position-x: 180px;
    }
    .modalForms label{
        display: none;
    }
    .modalBtnCheck{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
    }
    a.btnModal{
        background: #023E72FF;
        padding: 15px 25px 15px 25px;
    }
    a.btnModal:hover{
        background: #023E72FF;
        color: #000000;
    }
    .txtCheck{
        font-size: 10px;
        padding-left: 5px;
        width: 270px;
    }
    .chekboxModalRealty{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 330px;
        cursor: pointer;
    }
    .buyPropertyHead h1{
        padding: 100px 0px 40px 400px;
        margin-bottom: 0px;
    }
    .buyProperty{
        display: flex;
        padding-bottom: 50px;
    }
    .buyProperty span {
        background: black;
        margin-right: 40px;
        margin-top: 12px;
        width: 1000px;
    }
    .rltFix {
        width: 405px;
        height: 500px;
    }
    .netThree {
        padding: 50px 0px 50px 0px;
    }
    .capThree h1{
        margin-bottom: 0px;
        padding-bottom: 100px;      
    }
    /* .capThree::before{
        margin-top: 100px;
        margin-left: 300px;
        content: "";
        width: 900px;
        display: block;
        height: 1px;
        background: black;
        position: absolute;
    } */
    .solutionGroup{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .solutionGroup p{
        color:#A4ADC4D3;
        font-size: 15px;
        width: 250px;
        height: 100px;
    }
    .solution{
        display: flex;
        flex-flow: column;
    }
    .solution svg {
        margin-bottom: .5em;
        margin-left: -10px;
    }
    .developers{
        display: flex;
        justify-content: space-between;
        padding: 100px 0px 50px 0px;
    }
    .developersImg {
        margin-left: -370px;
    }
    .developersImg img {
        width: 600px;
        height: 650px;
        border: 1px solid none;
        border-top-right-radius: 100px;
        object-fit: cover;
    }
    .developersSlider {
        width: 900px;
    }
    .developersSlider h1{
        margin-bottom: 58px;
    }
    .slider{
        display: flex;
        width: 900px;
        height: 446px;
    }
    button.carousel-control-prev.btnSliderGroup, button.carousel-control-next.btnSliderGroup {
        position: static;
        width: 50px;
        height: 50px;
        border: 1px solid black;
        border-radius: 50%;
        color: black;
        opacity: .7;
    }
    button.carousel-control-prev.btnSliderGroup:hover, button.carousel-control-next.btnSliderGroup:hover{
        opacity: .4;
    }
    button.carousel-control-prev.btnSliderGroup {
        margin-right: 10px;
    }
    span.carousel-control-prev-icon{
        margin-right: 2px;
        background-image: url(../IMG/left-arrow.png);
        background-size: 20px;
    }
    span.carousel-control-next-icon{
        margin-left: 3px;
        background-image: url(../IMG/right-arrow.png);
        background-size: 20px;
    }
    .group{
        display: flex;
    }
    .makProperties{
        display: flex;
    }
    .makProperties img {
        border: none;
        object-fit: cover;
        margin-top: 30%;
    }
    .makProperties p{
        padding: 10px;
    }
    .objects {
        font-size: 20px;
        border: 1px solid #00000074;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
    }
    .quality{
        padding: 50px 0px 50px 0px;
    }
    .quality h1{
        padding-bottom: 20px;
    }
    .qualityContent{
        display: flex;
        justify-content: space-between;
    }
    .qualityContentBack {
        margin-left: -370px;
    }
    .qualityContentBack img {
        width: 600px;
        height: 650px;
        border: 1px solid none;
        border-top-right-radius: 100px;
        object-fit: cover;
    }
    .qualityCircle{
        border: 1px solid black;
        border-radius: 50%;
        display: block;
        width: 20px;
        height: 20px;
    }
    .qualityVertLine::before{
        content: " ";
        background: black;
        margin: 10px 0px 10px 9px;
        width: 2px;
        height: 100px;
        float: left;
    }
    .qualityContentTxt {
        padding-top: 56px;
        width: 900px;
    }
    .qualityContentTxt p{
        margin-bottom: 10px;
    }
    .qualitySorter{
        display: flex;
    }
    .qualityRight {
        margin-right: 10px;
    }
    .application{
        padding: 50px 0px 0px 0px;
    }
    .applicationBack {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../IMG/applicationBack.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid none;
        border-top-left-radius: 100px;
        z-index: -3;
        width: 1200px;
        height: 400px;
    }
    .applicationContent{
        display: flex;
        flex-flow: column;
        width: 700px;
        color: white;
    }
    .applicationLineTxt {
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .applicationLineTxt p {
        margin-bottom: 0px;
    }
    .applicationLineTxt span{
        margin-right: 40px;
        margin-left: -280px;
        width: 580px;
    }
    .applicationBtnCheck {
        display: flex;
        height: 45px;
        justify-content: space-between;
        align-items: center;
        width: 780px;
    }
    .applicationBtnCheck input {
        background-color: #FFFFFF00;
        color: white;
    }
    .btnApplication{
        font-size: 13px;
        padding: 15px 17px 12px 17px;
    }
    .application .formPhoneIcon{
        background-image: url(../IMG/phoneINPUTWhite.png);
    }
    .btnApplication:hover{
        color: #757575FF;
    }
    .application ::-webkit-input-placeholder {
        color: white;
    }
    .accordion{
        --bs-accordion-btn-focus-border-color: #86b7fe;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
      }
    .netFour{
        padding: 150px 0px 20px 0px;
    }
    
    .capFoot{
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    /* .capFoot::before{
        margin-left: 300px;
        width: 900px;
        margin-top: 90px;
        content: "";
        display: block;
        height: 1px;
        background: black;
        position: absolute;
    } */
    .contactsIcons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 180px;
    }
    .iconRadBorder{
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px;
        overflow: visible;
    }
    .contactVibTelIns:hover{
        opacity: .6;
    }
    .txtEditorTwo{
        color:#38383BFF
    }
    .txtEditorTwo:hover{
        opacity: .6;
    }
    .checkBoxGroup, .checkBoxModal{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid #ddd;
        appearance: none;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
    .modal .checkBoxModal:checked{
        background-image: url(../IMG/cheked.png);
    }
    .checkBoxGroup:checked, .checkBoxModal:checked{
        background-image: url(../IMG/chekedWhite.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: visible;
        width: 20px;
        height: 20px;
    }
    .dataFoot{
        display: flex;
    }
    .dataFoot p{
        color: #A4ADC4D3;
    }
    .dataFoot a{
        text-decoration: none;
        color: #38383BFF;
    }
    .dataFoot a:hover{
        opacity: .6;
    }
    .callsFoot {
        width: 500px;
    }
    .locationFoot{
        display: flex;
        justify-content: space-between;
    }
    .locationFootInfo{
        display: flex;
        flex-flow: column;
    }
    .locationFootInfo h6{
        padding: 70px 0px 60px 0px;
    }
    .importantInfo{
        display: flex;
        align-items: center;
        color: #CECFDAFF;
        font-size: 10px;
        
    }
    .importantInfo p{
        margin-bottom: 0;
    }
    .importantInfo a{
        color: #CECFDAFF;
        text-decoration: none;
    }
    .importantInfo a:hover{
        opacity: .7;
    }

    .scrollup{
        width: 100px;
        height: 100px;
        position: fixed;
        bottom: 50px;
        right: 70px;
        display: none;
        text-indent: -9999px;
        background: url(../IMG/upperIcon.png) no-repeat;
        background-position-x: 13px;
        background-position-y: 11px;
        
    }
    .scrollup:hover{
        opacity: .6;
    }

    


@media (max-width: 1300px) {
    .screenPage{
        max-width: 1000px;
        margin: auto;
        padding: 0px 50px 0px 50px;
    }
    .cap{
        width: auto;
    }
    .dataOne{
        width: 700px;
        font-size: 80%;
    }
}

@media (max-width: 997px) {}

@media (max-width: 767px) {}

@media (max-width: 575px) {
    .realtyItemContent {
        padding: 57%;
    }
}

@media (max-width: 355px) {}