* {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@media screen and (max-width: 1980px) {
    .content {
        display: flex;
    }

    .content nav {
        flex-grow: 1;
        flex: 0 0 auto;
        padding-left: -30px;
        flex-basis: 200px;
        background-color: #27EE1C;
    }

    .content div {
        flex-grow: 3;
        background-image: url(ballg.png);
        background-size: 100px;
        background-position: 100%;
        background-repeat: repeat-y;
    }

    .content img {
        float: left;
        margin: 15px;
    }

    .content p {
        clear: right;
        padding: 15px;
    }

    .content li {
        width: 50px;
    }

    .content h3 {
        padding-left: 5px;
    }

    header {
        text-align: center;
        font-size: 20px;
        color: blueviolet;
        background-color: aquamarine;
        padding: 1px;
    }

    footer {
        text-align: center;
        font-size: 20px;
        color: blueviolet;
        background-color: aquamarine;
        padding: 1px;

    }
}

@media screen and (max-width: 480px) {
    .shell {
        size: 30%;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    .content nav {
        background-color: white;
    }

    .content div {
        background-image: none;
    }

    header {
        position: absolute;
        visibility: hidden;
    }

    footer {
        position: absolute;
        visibility: hidden;
    }

    .content li {
        width: auto;
        margin: auto;
        padding: auto;
        display: inline;
    }

    .content ul {
        margin-left: -30px;
        word-spacing: 3px;
    }

    #cent {
        text-align: center;
    }


}